body {
    font-family: monospace;
    background-color: rgb(13, 17, 23);
    color: rgb(195, 209, 217);
    margin: 0 auto;
    max-width: 50em;
}

h1 {
    text-align: center;
}

hr {
    height: 1px;
    width: 100%;
    border-width: 0;
    color: rgb(74, 82, 94);
    background-color:rgb(74, 82, 94);
}

#my-photo {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

#my-photo img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

a {
    color: rgb(71, 166, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
